body {
    width: 100%;
    margin: 100px auto;
    max-width: 500px;
    text-align: center;
}

ol {
    border: 1px solid black;
}

li {
    border: 1px solid black;
    font-size: 21px;
}

h2 {
    font-size: 26px;
    text-align: center;
}

input#prodId {
    width: 350px;
    height: 20px;
}
